<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Login Page</title>
</head>

<body>
    <div class="container">
        <form id="loginForm" method="POST" action="login">
            <h2>Login</h2>
            <label for="email">Email</label>
            <input type="text" id="username" name="email" required>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Login</button>
        </form>
        <p class="signup-link">Don't have an account? <a href="{{ url_for('signup') }}">Sign up here</a></p>
    </div>
    <script src="script.js"></script>
</body>
</html>